rag_pipeline_recreation.json
{
    "name": "RAG Pipeline via GitHub Actions",
    "nodes": [
        {
            "parameters": {},
            "id": "start-trigger",
            "name": "When clicking \"Execute Workflow\"",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                380,
                240
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "sample-text",
                            "name": "text",
                            "type": "string",
                            "value": "Calculus, originally called infinitesimal calculus or \"the calculus of infinitesimals\", is the mathematical study of continuous change, in the same way that geometry is the study of shape, and algebra is the study of generalizations of arithmetic operations. It has two major branches, differential calculus and integral calculus; the former concerns instantaneous rates of change, and the slopes of curves, while the latter concerns accumulation of quantities, and areas under or between curves. These two branches are related to each other by the fundamental theorem of calculus, and they make use of the fundamental notions of convergence of infinite sequences and infinite series to a well-defined limit."
                        },
                        {
                            "id": "metadata",
                            "name": "source",
                            "type": "string",
                            "value": "https://en.wikipedia.org/wiki/Calculus"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set-article",
            "name": "Set Article",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                600,
                240
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.github.com/repos/BienGarcia11/n8n-python-scraper/actions/workflows/embed.yml/dispatches",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "githubApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"text\": \"{{ $json.text }}\",\n    \"callback_url\": \"{{ $execution.resumeUrl }}\"\n  }\n}",
                "options": {}
            },
            "id": "trigger-action",
            "name": "Trigger Document Processor",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                820,
                240
            ],
            "credentials": {
                "githubApi": {
                    "id": "A0a8KmF73RkPsqTt",
                    "name": "GitHub account"
                }
            }
        },
        {
            "parameters": {
                "resume": "webhook",
                "httpMethod": "POST",
                "path": "rag-callback",
                "options": {}
            },
            "id": "wait-callback",
            "name": "Wait for Processed Chunks",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1040,
                240
            ],
            "webhookId": "rag-callback"
        },
        {
            "parameters": {
                "fieldToSplitOut": "body.results",
                "options": {}
            },
            "id": "split-results",
            "name": "Split Out Chunks",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3.1,
            "position": [
                1260,
                240
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "tableId": "documents",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "content": "={{ $json.content }}",
                        "metadata": "={{ {\"source\": $('Set Article').item.json.source, \"chunk_index\": $json.chunk_index} }}",
                        "embedding": "={{ $json.embedding }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "content",
                            "displayName": "content",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "metadata",
                            "displayName": "metadata",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "json",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "embedding",
                            "displayName": "embedding",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "insert-supabase",
            "name": "Insert into Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1480,
                240
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "vk4SPiG8aOpUIJxQ",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "connections": {
        "When clicking \"Execute Workflow\"": {
            "main": [
                [
                    {
                        "node": "Set Article",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Article": {
            "main": [
                [
                    {
                        "node": "Trigger Document Processor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Trigger Document Processor": {
            "main": [
                [
                    {
                        "node": "Wait for Processed Chunks",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for Processed Chunks": {
            "main": [
                [
                    {
                        "node": "Split Out Chunks",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out Chunks": {
            "main": [
                [
                    {
                        "node": "Insert into Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}